<div *ngIf="!moreInformation">
    <table class="table table-bordered">
    <tr>
        <th scope="col">Dex#</th>
        <th scope="col">Name</th>
        <th scope="col">Count</th>
        <th scope="col">Choose</th>
    </tr>
    <tr *ngFor="let pokemon of finalPokedex | keyvalue">
        <td>{{pokemon.key}}</td>
        <td>{{pokemon.value.name | uppercase}}</td>
        <td>{{pokemon.value.count}}</td>
        <td><button class="btn btn-primary col-12" (click)="moreInfo(pokemon.key)">Select</button></td>
    </tr>
    </table>
</div>
<div *ngIf="moreInformation">
    <div class="row">
        <div class="col">
            <h3>{{infoList[0].data.name}}</h3>
        </div>
        <div class="col">
            <h4>#{{infoList[0].data.pokedex}}</h4>
        </div>
    </div>
    <table class="table">
    <tr>
        <th scope="col">HP</th>
        <th scope="col">Speed</th>
        <th scope="col">Move1</th>
        <th scope="col">Move2</th>
        <th>EV</th>
    </tr>
    <tr *ngFor="let pokemon of infoList">
        <td>{{pokemon.data.hp}}</td>
        <td>{{pokemon.data.speed}}</td>
        <td *ngIf="pokemon.data.moves">{{pokemon.data.moves[0]?.name}}:{{pokemon.data.moves[0]?.hit}}</td>
        <td *ngIf="pokemon.data.moves">{{pokemon.data.moves[1]?.name}}:{{pokemon.data.moves[0]?.hit}}</td>
        <td *ngIf="validateBenchCapacity(pokemon.data)"><button class="btn btn-primary" (click)="sendToBench(pokemon.data)">Bench</button></td>
        <td *ngIf="!validateBenchCapacity(pokemon.data)"><button class="btn btn-secondary" disabled>Invalid</button></td>
        <td><input class="form-check-input" type="checkbox" [(ngModel)]="pokemon.checked"></td>
    </tr>
    </table>
    <div class="row">
        <button class="btn btn-primary col" (click)="exitInfoPanel()">Back</button>
        <button *ngIf="validated.length>=0" class="btn btn-secondary col" (click)="evolve(validated)">Evolve!</button>
    </div>
</div>
<div class="row">
    <button class="btn btn-danger col" (click)="exitView()">Exit</button>
</div>