<div>
    <button class="btn btn-primary" style="padding:10px;" (click)="beatTrainer()">Beat Trainer</button>
    <button class="btn btn-secondary" style="padding:10px;" (click)="beatGymLeader()">Beat GymLeader</button>
    <button class="btn btn-dark" style="padding:10px;" (click)="randomMoney()">Random Money</button>
    <button class="btn btn-secondary" style="padding:10px;" (click)="randomItem()">Random Item</button>
    <button class="btn btn-danger" style="padding:10px;" (click)="exit()">Exit</button>
</div>