<div>
    <div style="text-align: center;"><h3>Pok&eacute; Mart</h3>
    <div>
        <table class="table table-striped">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Text</th>
                <th scope="col">Cost</th>
                <th scope="col">Buy</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of shop">
                    <th>{{item.name}}</th>
                    <td>{{item.text}}</td>
                    <td>{{item.cost}}</td>
                    <td><button class="btn btn-primary" (click)="purchaseItem(item)">Buy</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col col-6 previous">
            <button class="btn btn-secondary" style="display:block;width:100%" (click)="randomItem()">Random Item!</button>
        </div>
        <div class="col col-6 next">
            <button class="btn btn-primary" style="display:block;width:100%" (click)="returnView()">Exit</button>
        </div>
    </div>
</div>