<div *ngIf="encounterView">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                {{encounterMsg}}
            </div>
            <div>
                You rolled a {{encounterRoll}} with a mod of ({{encounterMod}}).
            </div>
            <div *ngIf="encounterItem">
                Got ITEM! {{encounterItem.name}}
            </div>
        </div>
    </div>
    <button class="btn btn-primary" (click)="fleePokemon(encounterRetry)">Close</button>
</div>
<div *ngIf="!showPokemon && !encounterView" style="width:100%;height:0;padding-bottom:79%;position:relative;">
    <iframe src="https://giphy.com/embed/DRfu7BT8ZK1uo" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
<div *ngIf="showPokemon && !encounterView">
    <div class="card-body">
        <div class="card-title">
            <div style="clear:both">
                <h3 style="display: inline">{{pokemon!.base.name | uppercase}}</h3>
                <i class="fa-regular fa-star" *ngIf="pokemon!.sprite.shiny"></i>
                <i class="fa-solid fa-bolt" style="float:right"></i>
                <h2 style="display: inline; float:right">{{statBlock.get("speed")}}</h2>
            </div>
        </div>
        <div><img src="{{pokemon!.sprite.sprite_url}}" fetchpriority="high" alt="PokeImage" style="width: 100%; z-index: 0;"></div>
        <div style="background-color:lightcyan;">
          <h4 style="display:inline;float:center;">HP: {{statBlock.get("hp")}}</h4>
          <div class="{{pokemon!.moves[0].move_type}}">
            <div class="row">
              <span class="col" style="font-size:medium;font-weight:bold;justify-content:center;">Odd</span>
              <span class="col" style="font-size:large;padding-left:5px;">{{pokemon!.moves[0].name | titlecase}}:</span>
              <span class="col" style="font-weight:500;padding-left:5px;">d {{pokemon!.moves[0].hit}}</span>
            </div>
            <div class="row">
                <span class="col" style="float:right;font-weight:bold;clear:left;">{{pokemon.moves[0].special?.text}}</span>
            </div>
          </div>
          <div class="{{pokemon!.moves[1].move_type}}">
            <div class="row">
              <span class="col" style="font-size:medium;font-weight:bold;justify-content:center;">Even</span>
              <span class="col" style="font-size:large;padding-left:5px;">{{pokemon!.moves[1].name | titlecase}}:</span>
              <span class="col" style="font-weight:500;padding-left:5px;">d {{pokemon!.moves[1].hit}}</span>
            </div>
            <div class="row">
                <span class="col" style="float:right;font-weight:bold;clear:left;">{{pokemon.moves[1].special?.text}}</span>
            </div>
          </div>
        </div>
    </div>
    <h2 style="justify-content:center;">You need a +{{pokemon.base.catch_rate}}</h2>
    <button class="btn btn-danger" style="display:block;width:100%" (click)="fleePokemon()">Escape</button>
    <div class="card">
        <div class="card-body">
            <div class="card-title" style="text-align:center">
                <h3>Available Items</h3>
            </div>
            <div *ngFor="let item of itemList | keyvalue">
                <div class="row">
                    <div class="col">{{item.value.name}}</div>
                    <div class="col">{{item.value.count}}</div>
                    <div class="col">{{item.value.text}}</div>
                    <div class="col">
                        <button class="btn btn-primary" style="display:block;width:100%" (click)="catchPokemon(item.value.item)">Use</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
