<div *ngIf="menuService.views.get('infoView')">
  <app-info [trainerTracker]="trainerTracker" [menuService]="menuService"></app-info>
</div>
<div *ngIf="menuService.views.get('dexView')">
  <app-pokedex [trainerTracker]="trainerTracker" [serverService]="serverService" [menuService]="menuService"></app-pokedex>
</div>
<div *ngIf="menuService.views.get('encounterView')">
  <app-encounter [trainerTracker]="trainerTracker" [serverService]="serverService" [menuService]="menuService" [legendary]="legendary"></app-encounter>
</div>
<div *ngIf="menuService.views.get('shopView')">
  <app-shop [trainerTracker]="trainerTracker" [serverService]="serverService" [menuService]="menuService"></app-shop>
</div>
<div *ngIf="menuService.views.get('backpackView')">
  <app-backpack [trainerTracker]="trainerTracker" [serverService]="serverService" [menuService]="menuService"></app-backpack>
</div>
<div class="row" *ngIf="menuService.views.get('defaultView')">
  <div>
    <app-active [trainerTracker]="trainerTracker" [team]="trainer.team" [menuService]="menuService"></app-active>
  </div>
  <div>
    <h4 style="text-align:center">{{trainer.name}}'s Info:</h4>
  </div>
  <div>
    <button class="btn btn-primary col-12" (click)="setView('dexView')">PokeDEX</button>
  </div>
  <div>
    <button class="btn btn-primary col-12" (click)="setView('backpackView')">BackPack</button>
  </div>
  <div>
    <button class="btn btn-primary col-12" (click)="setView('infoView')">Settings</button>
  </div>
  <div>
    <h4 style="text-align:center">Actions</h4>
  </div>
  <div>
    <button class="btn btn-success col-12" (click)="setView('encounterView')">Tall Grass</button>
  </div>
  <div>
    <button class="btn btn-info col-12" (click)="setView('shopView')">Poke Center</button>
  </div>
  <div *ngIf="trainer.getCurrentTier()==3">
    <button class="btn btn-dark col-12" (click)="encounterLegendary()">Legendary</button>
  </div>
</div>