<div *ngIf="trainerTracker.views.get('infoView')">
  <app-info [trainerTracker]="trainerTracker"></app-info>
</div>
<div *ngIf="trainerTracker.views.get('dexView')">
  <app-pokedex [trainerTracker]="trainerTracker"></app-pokedex>
</div>
<div *ngIf="trainerTracker.views.get('encounterView')">
  <app-encounter [trainerTracker]="trainerTracker" [legendary]="legendary"></app-encounter>
</div>
<div *ngIf="trainerTracker.views.get('shopView')">
  <app-shop [trainerTracker]="trainerTracker"></app-shop>
</div>
<div *ngIf="trainerTracker.views.get('backpackView')">
  <app-backpack [trainerTracker]="trainerTracker"></app-backpack>
</div>
<div *ngIf="trainerTracker.views.get('defaultView')">
  <div *ngIf="!choosingStarter">
    <app-active [trainer]="trainer"></app-active>
  </div>
  <div *ngIf="choosingStarter">
    <h3>Choose Your Starter Pokemon:</h3>
    <button class="grass col-12" style="padding:2px" (click)="setStarter(1)">Grass</button>
    <button class="fire col-12" style="padding:2px" (click)="setStarter(4)">Fire</button>
    <button class="water col-12" style="padding:2px" (click)="setStarter(7)">Water</button>
    <button class="poison col-12" style="padding:2px" (click)="setStarter(10)">Ghost</button>
  </div>
  <div>
    <h4 style="text-align:center">Info</h4>
  </div>
  <div>
    <button class="btn btn-primary col-12" (click)="setView('dexView')">PokeDEX</button>
  </div>
  <div>
    <button class="btn btn-primary col-12" (click)="setView('backpackView')">BackPack</button>
  </div>
  <div>
    <button class="btn btn-primary col-12" (click)="setView('infoView')">Info</button>
  </div>
  <div>
    <h4 style="text-align:center">Actions</h4>
  </div>
  <div>
    <button class="btn btn-success col-12" (click)="setView('encounterView')">Tall Grass</button>
  </div>
  <div>
    <button class="btn btn-info col-12" (click)="setView('shopView')">Items</button>
  </div>
  <div *ngIf="trainerTracker.getMaster().currentTier==3">
    <button class="btn btn-dark col-12" (click)="encounterLegendary()">Legendary</button>
  </div>
</div>