<div *ngIf="menuService.views.get('infoView')">
  <app-info [trainerTracker]="trainerTracker" [menuService]="menuService"></app-info>
</div>
<div *ngIf="menuService.views.get('dexView')">
  <app-pokedex [trainerTracker]="trainerTracker" [serverService]="serverService" [menuService]="menuService"></app-pokedex>
</div>
<div *ngIf="menuService.views.get('encounterView')">
  <app-encounter [trainerTracker]="trainerTracker" [serverService]="serverService" [menuService]="menuService" [legendary]="legendary"></app-encounter>
</div>
<div *ngIf="menuService.views.get('shopView')">
  <app-shop [trainerTracker]="trainerTracker" [serverService]="serverService" [menuService]="menuService"></app-shop>
</div>
<div *ngIf="menuService.views.get('backpackView')">
  <app-backpack [trainerTracker]="trainerTracker" [serverService]="serverService" [menuService]="menuService"></app-backpack>
</div>
<div *ngIf="menuService.views.get('battleView')">
  <app-battle [trainerTracker]="trainerTracker" [serverService]="serverService" [menuService]="menuService"></app-battle>
</div>
<div class="row" *ngIf="menuService.views.get('defaultView')">
  <div>
    <app-active [trainerTracker]="trainerTracker" [team]="trainer.team" [menuService]="menuService"></app-active>
  </div>
  <section class="contains-code">
    <div>
      <h4 style="text-align:center">{{trainer.name}}'s Info:</h4>
    </div>
    <ul class="framed buttons">
      <li><button class="pokemon" (click)="setView('dexView')">PokeDEX</button></li>
      <li><button (click)="setView('backpackView')">BackPack</button></li>
      <li><button (click)="setView('infoView')">Settings</button></li>
    </ul>
  </section>
  <section>
    <div style="padding:5px;">
      <h4 style="text-align:center">Actions</h4>
    </div>
    <ul class="framed buttons">
      <li><button (click)="setView('encounterView')">Tall Grass</button></li>
      <li><button (click)="setView('shopView')">Poke Center</button></li>
      <li><button (click)="setView('battleView')">Interact</button></li>
      <li *ngIf="trainer.badges>=8"><button (click)="encounterLegendary()">Legendary</button></li>
    </ul>
  </section>
</div>