<div class="card" *ngIf="trainer.activePokemon">
    <div class="card-body">
        <div class="card-title">
            <div style="clear:both">
                <h3 style="display: inline">{{active.name}}</h3>
                <i class="fa-solid fa-bolt" style="float:right"></i>
                <h2 style="display: inline; float:right">{{active.speed}}</h2>
            </div>
        </div>
        <div><img src="{{imgLoc}}" alt="PokeImage" style="width: 100%; z-index: 0;"></div>
        <div *ngIf="active.moves">
            <div *ngFor="let move of active.moves" class="{{active.moves[0]?.mType}}">
                <span style="font-size:large">{{move?.name}}:</span>
                <span style="text-align: center;">d{{move?.hit}}</span>
                <span style="float:right; font-weight: bold;">{{move?.special}}</span>
            </div>
        </div>
        <div class="row" style="padding-top: 3px">
            <button class="btn btn-primary col" (click)="active.currentHP=active.currentHP!-1">-</button>
            <h2 class="col">{{active.currentHP}}</h2>/<h2 class="col">{{active.hp}}</h2>
            <button (click)="active.currentHP=active.currentHP!+1" class="btn btn-primary col">+</button>
        </div>
    </div>
</div>